@charset "UTF-8";

body {
    background: #f2f6ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 30px;
    color: #400080;
    font-size: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.form-container {
    background: #ffffff;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    width: 350px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 15px;
}

button {
    width: 50%;
    padding: 12px;
    background: #008040;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}


button:hover {
    background: #1f3feb;
}